@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --overlay-color: #3906f1;
}

* {
  margin: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(97, 95, 95);
  color: #fff;
  z-index: 2;
  transition: 1s;
}

.showcase.active {
  right: 300px;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ministerhead {
  display: none;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url('./img/menu.png');

  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active {
  background: url('./img/close.png');

  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.7;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*** background: var(--overlay-color);*/
  mix-blend-mode: overlay;
}

.show {
  position: relative;
  justify-content: center;
  text-align: center;
  right: 0%;
  left: 0%;
  width: 100%;
  min-height: 100vh;
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: flex;
  background: url('./img/showcase.jpg') no-repeat center/cover;
  opacity: 0.8;

  color: #fff;
  z-index: 2;
  transition: 1s;
}

.show:hover {
  -webkit-text-decoration: solid;
  text-decoration: solid;
  opacity: 0.7;
}

.arrow {
  border: solid rgb(247, 247, 247);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.arrow:hover {
  color: rgba(241, 43, 8, 0.904);
}

.arrowplace {
  position: absolute;
  padding-left: 80%;
}

.arrowplace:hover {
  color: rgba(241, 43, 8, 0.904);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.show.forList ul li {
  width: auto;
}
.forList {
  position: relative;
  z-index: 10;
  justify-content: left;
  align-items: center;
}
.text {
  position: relative;
  z-index: 10;
  justify-content: left;
  align-items: center;
}

ul {
  position: fixed;
  list-style-position: outside;
}

.forList {
  position: fixed;
  text-decoration: none;
  list-style-position: outside;
}

.forList h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
  align-items: center;
}

.text li {
  text-decoration: none;
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
  align-items: center;
}

.text h2 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.forList a {
  display: inline-block;
  font-size: 1em;
  background: rgb(253, 252, 252);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 30px;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: rgb(253, 252, 252);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 30px;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.forList:hover {
  letter-spacing: 6px;
  color: blue;
}

.text a:hover {
  letter-spacing: 6px;
  color: blue;
}

.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  -webkit-filter: invert(1);
  filter: invert(1);
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

/*The special lis*/
.forList li {
  list-style: none;
}

.forlist li a {
  display: inline-block;
  -webkit-filter: invert(1);
  filter: invert(1);
  margin-right: 20px;
  transform: scale(0.8);
  transition: 0.5s;
}

.forList li a:hover {
  transform: scale(0.9) translateY(0px);
}

/**/

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.menu ul li a:hover {
  color: var(--overlay-color);
}

/*Footer*/

.recede {
  position: absolute;
  padding: 0;
}

p {
  position: relative;
  justify-content: center;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.icons .sci,
.icons .controls {
  position: relative;
  display: flex;
}

.icons .sci li {
  list-style: none;
  margin-right: 30px;
}

.icons .sci li img {
  display: inline-block;
  max-height: 24px;
  transition: 500ms ease-in-out;
}

.icons .sci li:hover img {
  transform: translateY(-10px);
}

.icons .controls li {
  list-style: none;
  margin-left: 20px;
  cursor: pointer;
  -webkit-filter: invert(1);
  filter: invert(1);

  transition: 500ms ease-in-out;
}

.icons .controls li:hover {
  opacity: 0.45;
}

.icons .controls li img {
  max-height: 40px;
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }

  .show {
    padding: 60px;
    white-space: nowrap;
    position: fixed;
  }

  .forList {
    margin-right: 20px;
    transform: scale(0.7);
    transition: 0.5s;
  }

  .text h2 {
    font-size: 3em;
  }
  .arrowplace {
    padding: 90%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    -webkit-text-decoration: solid;
    text-decoration: solid;
  }

  .arrow:hover {
    color: rgba(241, 43, 8, 0.904) !important;
  }

  .arrowplace:hover {
    color: rgba(241, 43, 8, 0.904) !important;
  }

  .text h3 {
    font-size: 2em;
  }
}

/*FOR EACH OF THE MINISTERS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;
}

header h2 {
  text-transform: uppercase;
}

header nav {
  display: -moz-flex;
  display: -o-flex;
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

@media (max-width: 1000px) {
}

@media (max-width: 700px) {
  /*header {
    flex-direction: column;
  }*/

  header h2 {
    margin-bottom: 15px;
  }

  header nav li {
    margin: 0 7px;
  }
}

/*banner area*/
/**
 background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 1000px) {
  section {
    padding: 125px 30px;
  }
}

  
}*/
